$color: #520187;
$border-width: 2px;
$grey-color: #d0d0d0;
.anim {
  width: 100%;
  height: 100%;
}
.anim.ng-enter {
  animation: fromRight 0.5s both;
  -webkit-animation: fromRight 0.5s both;
  overflow: hidden;
  position: fixed;
}
.anim.ng-staggerr {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.anim.ng-leave {
  animation: toRight 0.5s both;
  -webkit-animation: toRight 0.5s both;
  overflow: hidden;
  position: fixed;
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fromRight {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes toRight {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes toRight {
  from {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
}
.anim-left.ng-enter {
  animation: fromLeft 0.2s both;
  -webkit-animation: fromLeft 0.2s both;
}
.anim-left.ng-stagger {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.anim-left.ng-leave {
  animation: toLeft 0.2s both;
  -webkit-animation: toLeft 0.2s both;
}
@keyframes fromLeft {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fromLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes toLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100%);
  }
}
@-webkit-keyframes toLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100%);
  }
}
.anim-top {
  
}
.anim-top {
  animation: fromTop 0.5s both;
  -webkit-animation: fromTop 0.5s both;
  overflow: hidden;
  position: fixed;
}
.anim-top.ng-staggerr {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.anim-top.ng-leave {
  animation: toTop 0.5s both;
  -webkit-animation: toTop 0.5s both;
  overflow: hidden;
  position: fixed;
}
@keyframes fromTop {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fromTop {
  from {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes toTop {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-100%);
  }
}
@-webkit-keyframes toTop {
  from {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #808080;
}
.colored {
  color: $color;
}
#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-event: none;
  opacity: 0.5;
}
a {
  color: $color;
  text-decoration: underline;
  &:hover {
    color: darken($color, 10);
    text-decoration: none;
  }
}
.page_header {
  text-transform: uppercase;
  margin-bottom: -5px;
  margin-left: 15px;
  line-height: 1em;
}
.backed {
  background: rgba(255,255,255,0.9);
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  border: 2px solid $color;
  .icon {
    position: absolute;
    height: 100%;
    .fa {
      font-size: 20em;
      opacity: 0.2;
    }
  }
}
.title {
  border: $border-width solid $color;
  color: $color;
  margin-bottom: 2em;
  background-color: rgba(255,255,255,0.2);
  h1 {
    font-weight: 600;
    margin: 0.5em 0;
  }
}
.description {
  background: #fff;
  border: $border-width solid $color;
  color: $color;
  padding: 1em;
  margin: 1em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center !important;
}
.form-styled {
  padding: 1em;
  background: #fff;
  border: 1px solid $grey-color;
  input.form-control {
    border-radius: 0;
    border-left: $border-width solid $color;
    box-shadow: 0 0 0;
    transition: 100ms all ease-in-out;
    -webkit-transition: 100ms all ease-in-out;
    &:focus {
      border: 1px solid $color;
      border-left: $border-width solid $color;
    }
  }
}
.btn-colored {
  background: #fff;
  color: $color;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 500;
  border: $border-width solid $color;
  font-weight: 600;
}
.vertical-center {
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  &.sub {
    padding-top: 50px;
    .boxIt {
      padding: 3% 20%;
      @media screen and (max-width:768px) {
        padding: 3% 5%;
      }
    }
  }
  p {
    text-align: justify;
    margin: 10px 0;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.3em;
  }
  h5 {
    text-decoration: underline;
    line-height: 1.3em;
  }
}
.full-rounded {
  color: $color;
  font-size: 2em;
  border: 2px solid $color;
  border-radius: 100%;
  display: inline-block;
  height: 64px;
  padding: 10px 25px;
  width: 64px;
  i {
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
  }
  &:hover {
    i {
      transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
    }
  }
}
.social {
  padding: 1.5em 0;
  i {
    margin: 0 0.2em;
    font-size: 1.3em;
  }
}
#field {
  /* transition:all 1000ms ease-in-out;
  -webkit-transition:all 1000ms ease-in-out;
  &.smallen{
    transform:scale(0.9);
  }*/
  @media screen and (max-width:768px) {
    h1 {
      font-size: 32px;
    }
  }
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  padding: 1em;
  border-bottom: 2px solid $color;
  .navbar-header {
    a {
      text-decoration: none;
      font-size: 1.3em;
      line-height: 1em;
    }
    .brand {
      position: relative;
      i {
        font-size: 2em;
        position: absolute;
        left: -1em;
        margin-top: -3px;
      }
    }
  }
  nav {
    ul {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        &.active {
          font-weight: 600;
        }
        a {
          display: inline-block;
          text-decoration: none;
          padding: 0 1em;
          line-height: 1.3em;
          color: $color !important;
          background-color: transparent;
          transition: all 200ms ease-in-out;
          -webkit-transition: all 200ms ease-in-out;
          i {
            display: none;
          }
          &:active,
          &:focus {
            color: $color;
          }
        }
      }
    }
    @media screen and (max-width:768px) {
      background: #fff;
      border: 2px solid $color;
      padding: 1em 0;
      ul {
        li {
          width: 100%;
          display: inline-block;
          text-align: left;
          font-size: 1.4em;
          a {
            width: 100%;
            padding: 1em;
            i {
              display: inline-block;
              width: 2em;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .navbar-toggle {
    border-color: transparent;
    border-radius: 0;
    margin-top: -8px;
    margin-right: 0;
    &:hover,
    &:active,
    &:focus {
      background-color: $color;
      .icon-bar {
        background-color: #fff;
      }
    }
  }
  .navbar-toggle .icon-bar {
    background-color: $color;
  }
  @media screen and (max-width:768px) {
    background-color: transparent;
    border-bottom: 0;
    .navbar-header {
      .brand {
        display: none;
      }
    }
  }
}