<div class="vertical-center sub">
  <div class="container">
    <!--<div class="row colored">
      <h1 class="page_header">Informationen</h1>
    </div>-->
    <div class="row colored backed">
      <h1 class="col-md-12 text-center">Informationen</h1>
      <div class="col-md-12 boxIt">
        <div class="col-md-10 col-md-offset-1">
          <p>Der globale Wandel bringt neue Krisen und Probleme und weckt gleichzeitig neue Bereitschaft, etwas zu verändern. </p>
          <h4>WeFeelTheWorld ist dein Atlas dieser Welt aus Hilfsbedürftigkeit und Hilfsbereitschaft.</h4>
          <p> Über unsere Karten kannst du Lage von Menschenrechten, Tier- und Umweltschutz erkunden – und das weltweit. Lerne dabei Hilfsprojekte, Petitionen und nachhaltiges Unternehmertum kennen und fühle, was wir erreichen können. </p>
          <h4>Du engagierst Dich? Dann zeige es der Welt auf: WeFeelTheWorld.org</h4>
        </div>
        <div class="col-md-12 text-center social">
          <small class="colored">Share it on </small>
          <br>
          <br>
          <a title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wefeeltheworld.org%2F" target="_blank"><i class="colored fa fa-facebook"></i></a>
          <a title="twitter" href="https://twitter.com/home?status=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-twitter"></i></a>
          <a title="google+" href="https://plus.google.com/share?url=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-google"></i></a>
        </div>
        <div class="col-md-12 text-center" style="font-size:1.3em">
          <br>
          <h4><a ui-sref="ngos()">Informationen für NGOs/NPOs</a></h4>

          <h4><a ui-sref="companies()">Informationen für Unternhemen</a></h4>


        </div>
      </div>
    </div>
  </div>
</div>