<div class="vertical-center sub">
  <div class="container">
    <div class="colored backed col-md-8 col-md-offset-2">
      <h1 class="col-md-12 text-center">
        <span>Über uns</span>
      </h1>
      <div class="col-md-12 boxIt">
        <p>Der globale Wandel bringt permanent neue Krisen und Probleme in Sachen Menschenrechte, Tier- und Umweltschutz. Gleichzeitig wächst die Zahl der Projekte, die diese Probleme lösen sollen - eine unübersichtliche Situation. Was fehlt, ist ein Platz,
          der alle diese Informationen bündelt.
          <br> WeFeelTheWorld.org schließt diese Lücke und bildet die Brücke zwischen denen, die Hilfsprojekte betreiben und denen, die sich dafür interessieren.</p>
        <h4>Was ist WeFeelTheWorld.org?</h4>
        <p>WeFeelTheWorld.org ist der Atlas der Problemherde und der Akteure einer Bewältigung dieser Probleme. Lesefreundliche Karten, gut verständliche Texte und aussagekräftige Bilder machen es möglich,
          <span class="colored">
            die Erde zu erleben, Probleme aufzuspüren und soziale Projekte zu verstehen.</span>
        </p>
        <h4>Für wen ist WeFeelTheWorld.org?</h4>
        <p>
          WeFeelTheWorld.org ist für alle, die sich einen umfassenden Überblick bzw.
          <span class="colored">tiefe Einblicke zum Status Quo der Erde verschaffen wollen, Unterstützung für ein soziales Projekt suchen bzw. anbieten oder ein nicht-staatliches oder unternehmerisches Engagement publik machen wollen.</span>
        </p>
      </div>

    </div>
    <div class="col-md-8 col-md-offset-2 text-center footer">
      <h4 class="col-md-6"><a ui-sref="ngos()">Informationen für NGOs/NPOs</a></h4>
      <h4 class="col-md-6"><a ui-sref="companies()">Informationen für Unternehmen</a></h4>
    </div>
    <div class="col-md-8 col-md-offset-2 text-right social" style="padding-top:0.3em">
      <small class="colored">Share it on </small>
      <a analytics-on analytics-category="Social Share" analytics-event="Facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wefeeltheworld.org%2F" target="_blank"><i class="colored fa fa-facebook"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Twitter" title="twitter" href="https://twitter.com/home?status=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-twitter"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Google+" title="google+" href="https://plus.google.com/share?url=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-google"></i></a>
    </div>
  </div>
</div>
</div>