<div class="vertical-center">
  <div class="container">
    <div class="row colored">
      <h1 class="page_header">Informationen</h1>
    </div>
    <div class="row colored backed">
      <div class="col-md-8">
        <p>Der globale Wandel bringt neue Krisen und Probleme und weckt gleichzeitig neue Bereitschaft, etwas zu verändern. </p>
        <h4>WeFeelTheWorld ist dein Atlas dieser Welt aus Hilfsbedürftigkeit und Hilfsbereitschaft.</h4>
        <p> Über unsere Karten kannst du Lage von Menschenrechten, Tier- und Umweltschutz erkunden – und das weltweit. Lerne dabei Hilfsprojekte, Petitionen und nachhaltiges Unternehmertum kennen und fühle, was wir erreichen können. </p>
        <h4>Du engagierst Dich? Dann zeige es der Welt auf: WeFeelTheWorld.org</h4>
      </div>
      <div class="col-md-4">

        <h4><a ui-sref="ngos()">Informationen für NGOs/NPOs</a></h4>

        <h4><a ui-sref="companies()">Informationen für Companies</a></h4>


      </div>
    </div>
  </div>
</div>