<div class="vertical-center sub">
  <div class="container">
    <div class="colored backed col-md-8 col-md-offset-2">
      <h1 class="col-md-12 text-center">
        <span>Informationen für Unternehmen</span>
      </h1>
      <div class="col-md-12 boxIt">
        <p>Immer mehr Unternehmen wirtschaften nachhaltig. Auch die Zahl der Unternehmen, die eigene Projekte zum Thema Menschenrechte, Tier- und Umweltschutz betreiben, wächst. </p>
        <h4>Mit WeFeelTheWorld.org können Unternehmen </h4>
        <p>
          ihr Engagement einem großen Publik auch emotional nahe bringen,
          <br> ihre Nachhaltigkeitsstrategie anschaulich machen und
          <br> Projekte im Rahmen Ihres Corporate Citizenship-Ansatzes umfassend abbilden.
        </p>
        <h4>WeFeelTheWorld.org hat Platz für alle Unternehmen.</h4>
        <p>Ob Großkonzern oder Zwei-Mann-Betrieb, ob Automobilhersteller oder Café – auf den Karten des WeFeelTheWorld.org Atlas finden Alle ihren Platz, um Menschen für sich, ihr Engagement und ihre Philosophie zu interessieren.</p>
        <h4>Ihr Unternehmen erstellt Nachhaltigkeitsberichte
          <br> nach GRI Richtlinien?</h4>
        <p> Präsentieren Sie der Öffentlichkeit Key-Facts Ihres Nachhaltigkeitsberichtes und Ihrer Unternehmensphilosophie. Nutzen Sie Ihr Unternehmensprofil, um der Öffentlichkeit zu zeigen, was Sie bewegen! </p>
        <h4>Ihr Unternehmen erstellt keine Nachhaltigkeitsberichte?</h4>
        <p> Kleinen und mittelständischen Unternehmen, die nachhaltig wirtschaften oder im Rahmen ihres Corporate Citizenship-Ansatzes Projekte unterstützen, bietet WeFeelTheWorld.org Raum, zu zeigen, was sie tun. Für Ökologie, Umwelt, Mitarbeiter oder Gesellschaft.
          Von Grünem Strom bis zur Nachbarschaftshilfe. </p>

        <h4>WeFeelTheWorld.org steht für </h4>
        <p>
          <span class="colored">hohe Glaubwürdigkeit</span>
          <br> WeFeelTheWorld.org bietet Transparenz und Klarheit.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">hohe Reichweite</span>
          <br> In einer Gesellschaft, die Verantwortlichkeit fordert und fördert, wird verantwortungsvolles Unternehmertum immer wichtiger. Menschen wollen die Akteure des Wandels und ihre Philosophie kennenlernen. Mit WeFeelTheWorld.org erreichen Sie weltweit
          passiv Interessierte und aktiv Engagierte.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">Kontaktieren Sie uns und werden Sie Partner der ersten Stunde!</span>
          <br>Schreiben Sie mit an unserem Atlas. Zeigen Sie der Welt auf unseren Karten, wo Sie sich engagieren! Stellen Sie Ihr Projekt, Ihre Arbeitsweise und Ihre Unternehmensphilosophie vor.
          <br>

        </p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <p style="text-align:center">
          <a href="mailto:company@wefeeltheworld.org" analytics-on analytics-category="Email" style="font-size:1.3em">company@wefeeltheworld.org</a>
          <br>
          <br>
        </p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-right social">
      <small class="colored">Share it on </small>
      <a analytics-on analytics-category="Social Share" analytics-event="Facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wefeeltheworld.org%2F" target="_blank"><i class="colored fa fa-facebook"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Twitter" title="twitter" href="https://twitter.com/home?status=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-twitter"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Google+" title="google+" href="https://plus.google.com/share?url=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-google"></i></a>
    </div>

  </div>