<div class="vertical-center sub">
  <div class="container">
    <!--<div class="row colored">
      <h1 class="page_header">Informationen für Unternehmen</h1>
    </div>-->
    <div class="row colored backed">
      <h1 class="col-md-12 text-center">Informationen für Unternehmen</h1>
      <div class="col-md-12 boxIt">
        <div class="col-md-6">
          <p>Sie wirtschaften nachhaltig oder sind als Unternehmen sogar mit Projekten zum Thema Menschenrechte, Tier- und Umweltschutz tätig? </p>
          <p>Wir suchen Unternehmen, die ihr Engagement bei uns darstellen wollen.</p>

          <h3>Der Vorteil für Ihr Unternehmen:</h3>
          <h5>Egal ob Groß- oder Kleinstunternehmen, Café oder Konzern: bei uns haben alle Platz. </h5>
          <p>Das gilt sowohl für die Darstellung Ihrer Nachhaltigkeitsstrategie, als auch für etwaige Projekte im Rahmen Ihres Corporoate Citizenship-Ansatzes. </p>
          <h5>Wir schaffen Reichweite.</h5>
          <p>In einer Gesellschaft, die Verantwortlichkeit fordert und fördert wird verantwortungsvolles Unternehmertum immer wichtiger. Menschen wollen die Akteure des Wandels und Ihre Philosophie kennenlernen.</p>
          <p>Wir zeigen den Menschen, was Sie wo bewegen. </p>
        </div>
        <div class="col-md-6">
          <h5>Wir stehen für Transparenz und Klarheit.</h5>
          <h4>Sie erstellen Nachhaltigkeitsberichte nach GRI Richtlinien?</h4>
          <p>Stellen Sie der Öffentlichkeit Ihr Unternehmen vor, gerne auch in Bild und Ton. Präsentieren Sie die Key-Facts Ihres Nachhaltigkeitsberichtes und Ihrer Unternehmensphilosophie.</p>
          <p>Nutzen Sie Ihr Unternehmensprofil um der Öffentlichkeit zu zeigen, was Sie bewegen! </p>
          <h4>Sie erstellen keine Nachhaltigkeitsberichte, wirtschaften dennoch nachhaltig und/oder unterstützen Projekte im Rahmen Ihres Corporoate Citizenship-Ansatzes?</h4>
          <p>Nutzen Sie Ihr Unternehmensprofil und zeigen Sie, was Sie tun für Ökologie und Umwelt, Ihre Mitarbeiter und die Gesellschaft. Von Grünem Strom bis zur Nachbarschaftshilfe: Menschen interessieren sich für Ihr Engagement und Ihre Philosophie!</p>



        </div>
        <div class="col-md-12 text-center">
          <br>
          <p style="text-align:center">Sie möchten mehr erfahren und Partner der ersten Stunde werden?
            <br />
            <br /> Dann kontaktieren Sie uns unter</p>

          <a href="mailto:company@wefeeltheworld.org" style="font-size:1.3em">company@wefeeltheworld.org</a>
        </div>
      </div>
    </div>
  </div>
</div>