<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div id="field" ng-class="{'smallen': loading}" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0">
        <div class="row text-center title">
          <h1>Feel the world</h1>
        </div>
        <div class="row text-center">
          <p class="description">Explore Earth
            <br>Spot Problemsy
            <br>Learn about Commitment</p>
        </div>
        <div class="row">
          <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
            <div class="anim-left" ng-hide="mailchimp.result === 'success'">
              <input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='wefeeltheword'">
              <input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us10'">
              <input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='0acb9a4998ac88ff3f2e3a257'">
              <input class="hidden" type="hidden" ng-model="mailchimp.id" ng-init="mailchimp.id='cdab5a9d12'">

              <div class="form-group form-styled">
                <input type="email" class="form-control" name="EMAIL" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
              </div>
              <button ng-disabled="MailchimpSubscriptionForm.$invalid" ng-click="addSubscription(mailchimp)" type="submit" style="width:100%" class="btn btn-colored">Absenden</button>

            </div>

            <!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
            <div class="anim-left colored text-center" style="margin: 1em;" ng-if="mailchimp.result === 'error'" ng-cloak>
              <span ng-bind-html="mailchimp.errorMessage"></span>
            </div>

            <!-- Show success message if MailChimp returned successfully. -->
            <div class="anim-left colored text-center" style="margin:0 1em;" ng-if="mailchimp.result === 'success'" ng-cloak>
              <span ng-bind-html="mailchimp.successMessage"></span>
            </div>
          </form>

        </div>
        <div class="row text-center social">
          <small class="colored">Share it on </small>
          <a title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wefeeltheworld.org%2F" target="_blank"><i class="colored fa fa-facebook"></i></a>
          <a title="twitter" href="https://twitter.com/home?status=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-twitter"></i></a>
          <a title="google+" href="https://plus.google.com/share?url=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-google"></i></a>
        </div>
        <div class="row text-center">
          <a ui-sref="about()">
            <div class="full-rounded">
              <i class="fa fa-info"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>