<div class="vertical-center">
  <div class="container">
    <div class="row colored">
      <h1 class="page_header">Informationen für NGOs</h1>
    </div>
    <div class="row colored backed">
      <div class="col-md-6">
        <p>Sie sind als NGO/NPO mit Projekten zum Thema Menschenrechte, Tier- und Umweltschutz tätig?</p>
        <p>Wir suchen Organisationen, die ihre Projekte auf unseren Karten darstellen.</p>

        <h4>Der Vorteil für Ihre Organisation:</h4>
        <h5>Wir möchten von Ihnen kein Geld.</h5>
        <p>Das gilt sowohl für die Darstellung Ihres Engagements auf unseren Seiten, als auch für Spenden, die Sie über unsere Seite generieren können.</p>
        <h5>Wir schaffen Reichweite.</h5>
        <p>In einem wachsenden Online-Spendenmarkt ist zunehmend wichtig, präsent zu sein und Menschen für seine Sache zu interessieren. Wir helfen Ihnen dabei.</p>
      </div>
      <div class="col-md-6">
        <p>Sie möchten mehr erfahren und Partner der ersten Stunde werden?</p>

        <p>Dann kontaktieren Sie uns unter
          <br />
          <br />
          <a href="mailto:ngo@wefeeltheworld.org">ngo@wefeeltheworld.org</a>
      </div>
    </div>
  </div>
</div>