<div class="vertical-center sub">
  <div class="container">
    <div class="colored backed col-md-8 col-md-offset-2">
      <h1 class="col-md-12 text-center">
        <span>Informationen für NGOs/NPOs</span>
      </h1>
      <div class="col-md-12 boxIt">
        <p>NGO- und NPO-Projekte zum Thema Menschenrechte, Tier- oder Umweltschutz brauchen Unterstützung von außen, um sich effizient und langfristig entwickeln zu können.</p>
        <h4>Mit WeFeelTheWorld.org können NGOs und NPOs</h4>
        <p>ihr Engagement einem großen Publikum nahe bringen,
          <br> ihr Projekt emotional erlebbar machen,
          <br> treue Anhänger bestätigen und neue begeistern,
          <br> Spenden akquirieren,
          <br> Unterstützer für Petitionen gewinnen.
          <br>
          <br>
        </p>
        <h4>WeFeelTheWorld.org steht für </h4>
        <p>
          <span class="colored">hohe Glaubwürdigkeit</span>
          <br> WeFeelTheWorld.org bietet Transparenz und Klarheit.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">hohe Reichweite</span>
          <br> WeFeelTheWorld.org ist Treffpunkt für Interessierte und aktiv Engagierte weltweit.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">erfolgreiche Spendenakquise</span>
          <br> WeFeelTheWorld.org bietet das richtige Umfeld und die nötige Nähe, um Spendenbereitschaft zu steigern.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">WeFeelTheWorld.org ist kostenlos</span>
          <br> WeFeelTheWorld.org will kein Geld von Ihnen. Nicht für die Darstellung Ihres Engagements auf unseren Seiten, und nicht für etwaige Spenden, die über unsere Seite generiert werden. Wir verkaufen Ihnen kein Abo und keine Werbung. Uns geht es
          um die Sache. Ihre Sache.
          <br>
          <br>
        </p>
        <p>
          <span class="colored">Kontaktieren Sie uns und werden Sie Partner der ersten Stunde!</span>
          <br>Schreiben Sie mit an unserem Atlas. Zeigen Sie der Welt auf unseren Karten, wo Sie sich engagieren und stellen Sie Ihr Projekt, Ihr Team, Ihre Arbeitsweise und Ihre Organisation vor.
          <br>
        </p>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <p style="text-align:center">
          <a href="mailto:ngo@wefeeltheworld.org" analytics-on analytics-category="Email" style="font-size:1.3em">ngo@wefeeltheworld.org</a>
          <br>
          <br>
        </p>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 text-right social">
      <small class="colored">Share it on </small>
      <a analytics-on analytics-category="Social Share" analytics-event="Facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.wefeeltheworld.org%2F" target="_blank"><i class="colored fa fa-facebook"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Twitter" title="twitter" href="https://twitter.com/home?status=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-twitter"></i></a>
      <a analytics-on analytics-category="Social Share" analytics-event="Google+" title="google+" href="https://plus.google.com/share?url=http://wefeeltheworld.org" target="_blank"><i class="colored fa fa-google"></i></a>
    </div>
  </div>
</div>
</div>