<div class="vertical-center sub">
  <div class="container">
    <div class="row colored backed">
      <h1 class="col-md-12 text-center">Informationen für NGOs / NPOs</h1>
      <div class="col-md-12 boxIt">
        <div class="col-md-10 col-md-offset-1">
          <p>Sie sind als NGO/NPO mit Projekten zum Thema Menschenrechte, Tier- und Umweltschutz tätig?</p>
          <p>Wir suchen Organisationen, die ihre Projekte auf unseren Karten darstellen.</p>

          <h4>Der Vorteil für Ihre Organisation:</h4>
          <h5>Wir möchten von Ihnen kein Geld.</h5>
          <p>Das gilt sowohl für die Darstellung Ihres Engagements auf unseren Seiten, als auch für Spenden, die Sie über unsere Seite generieren können.</p>
          <h5>Wir schaffen Reichweite.</h5>
          <p>In einem wachsenden Online-Spendenmarkt ist zunehmend wichtig, präsent zu sein und Menschen für seine Sache zu interessieren. Wir helfen Ihnen dabei.</p>
        </div>
        <div class="col-md-12">
          <br />
          <p style="text-align:center">Sie möchten mehr erfahren und Partner der ersten Stunde werden?</p>

          <p style="text-align:center">Dann kontaktieren Sie uns unter
            <br />
            <br />
            <a href="mailto:ngo@wefeeltheworld.org" style="font-size:1.3em">ngo@wefeeltheworld.org</a>
        </div>
      </div>
    </div>
  </div>
</div>